img{
    width: 25%;
    border-radius: 50%;
    box-shadow: 2px 2px 5px lightgray;
}

.backgroundContent{
    background-color: #FCFFB2;
    box-shadow: 2px 2px 5px lightgray;
    width: 70%;
    margin-left: 15%;
}

.backgroundContact{
    background-color: #B6EAFA;
    box-shadow: 2px 2px 5px lightgray;
    width: 50%;
    margin-left: 25%;
}